<div id="menu" style="text-align: center">
	<div style="padding-top: 10px">
		<el-row>
			<el-col :span="8" v-for="menu in menus" :key="menus.key">
				<div>
					<el-button type="primary" @click="changePage(menu.path)" circle :icon="menu.icon" 
						style="background-color:  rgba(255, 255, 255, 0.4);
								border-color:  rgba(255, 255, 255, 0.4);
								font-size: 6.5vw;">
					</el-button>
				</div>
				<div style="padding-top: 10px">
					{{menu.text}}
				</div>
			</el-col>
		</el-row>
	</div>
</div>