/* ドットフォント読み込み */
@font-face {
	font-family: PixelMplus10-Regular;
	src: url('../font/PixelMplus10-Regular.ttf') format("truetype");
}
@font-face {
    font-family: PixelMplus10-Bold;
    src: url('../font/PixelMplus10-Bold.ttf') format("truetype");
}

/* 画面全体適用 */
body {
    font-family: PixelMplus10-Regular;
    font-size: 15px !important;
    background: url('../img/background.gif');
}

/* el-button text 使用するとフォントが効かないので直接指定 */
span {
    font-size: 15px;
    font-family: PixelMplus10-Regular;
}

/* el-inputでドットフォントを使用　*/
.el-input__inner {
    font-family: PixelMplus10-Regular;
}

/* アニメーション */
@keyframes moveimg {
    0% { left: -200px;}
    /* 20% {left: 0px;}
    40% {left: 100px} */
    /* 50% {left: 200px} */
    100% { left: 500px }
}

#sample1{
    width: 50%;
    height: 50%;
    animation: moveimg 20s infinite ease;
    position: relative;
}

/* 路線一覧で遅延がある場合は赤くする */
.el-table .warning-row {
    background: #fad7d7;
}

/* テーブルの文字サイズを指定 */
.el-table .cell {
    font-size: 15px;
}

/* {{var}}が表示されないようにする */
[v-cloak] {
    display: none;
}

/* ページネーションとテーブルの間隔調整 */
.el-pagination {
    padding: 11px 0px 0px 0px;
}

/* メッセージの表示位置 */
.el-message--success {
    min-width: 274px;
}