<div>
    <el-card class="box-card">
        このサイトは普段から使用している路線をウォッチして<br>
        電車が遅延しているかどうかを知ることができます。<br>
        <br>
        一部の機能はTwitterAPIを使用していますが<br>
        TwitterAPIの制限が厳しいため<br>
        あまり一杯検索しないで下さい<br>
        <br>
        機能の要望は<br>
        そのうち何処かに書き込めるようにする予定です。<br>
        <br>
        それまではあなたの素晴らしいアイディアを<br>
        ノートもしくは頭の中に書き留めておいて下さい。<br>
        <br>
        決して便利とはいえないかもしれないのですが<br>
        それでも使ってみますか？<br>
    </el-card>

    <div style="text-align: center; margin-top: 10px">
        <el-button type="primary" @click="toTop()">はい</el-button>
        <el-button @click="leave()">いいえ</el-button>
    </div>
</div>